# Object files
*.o
*.ko
*.obj
*.elf

# Log files
*.log

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
Debug/

# TrueStudio project files
.project
.cproject
.settings
*.elf.launch
*.ld
